* {
    margin: 0;
    padding: 0;
}

/*RodaPé*/

.rodape {
    position: absolute;
    text-align: center;
    margin-left: 0%;
    width: 95rem;
    background-image: url(../../assets/fundofooter.png);
    background-position-y: -1rem;
    background-size: cover;
}

.logoBottom {
    width: 16%;
}
.redessocial-1 {
    width: 3.2%;
    margin: 1%;
}
.redessocial-2 {
    width: 4.5%;
    margin: 1%;
}

.redessocial-3 {
    width: 3%;
    margin: 1%;
}


.copy {
    color: white;
}

@media(max-width:1200px) {
    .col {
        width: 800px;
    }
}