* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    
}

.containerMudarSenha{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
   font-size: 4vh;
    font-weight: bold;
    color:  #be39fc;
    margin-bottom: 100px;
    margin-top: 100px;
}