* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    
}

.containerMudarSenha{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
   
    font-weight: bold;
    color: #7400AA;
    margin-bottom: 100px;
    margin-top: 100px;
}