* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

#titulo {
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    color: #7400AA;
}
.containerInput2 {
    margin-top: 60px;
    margin-left: 800px;
}
