*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.site{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background-color: #0A060D;
}

.bannerInicial{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/aranhaverso2.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    flex: 1;
}

.btn-topo{
    position: relative;
    bottom: 70px;
    float: right;
    margin-right: 30px;
    text-decoration: none;
}

.btn-topo:hover{
    color: #000;
}

.arrowBottom{
    color: #f2f2f2;
}

.arrowBottom:hover{
    color: #4e4e4e;
}

.gradient-top{
    width: 100%;
    background: linear-gradient(#0a060d 40%, rgba(255, 255, 255, 0));
    height: 100px;
}

.infoTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 55vh;
}

.infoTop p{
    color: #f2f2f2;
    font-size: 1.8em;
    z-index: 1;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

.gradient-bottom{
    width: 100%;
    background: linear-gradient(to top,#0A060D 30%, rgba(255, 255, 255, 0));
    height: 350px;
    margin-top: -300px;
}

.container-planet{
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img{
    width: 60%;
    animation: move 1000ms alternate infinite;
}

@keyframes move{
    0%{
        transform: translateY(-5px);
    }

    100%{
        transform: translateY(5px);
    }
}

.container_main{
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.planet-info{
    color: #f2f2f2;
    width: 40%;
    text-align: center;
    text-align: center;
}

.planet-info h2{
    font-size: 1.8em;
    margin-bottom: 20px;
}

.planet-info p{
    font-size: 1.2em;
    font-weight: 500;
}

.container-filmes{
    display: flex;
    align-items: center;
    margin-top: 150px;
    border-top: solid #4e4e4e 1px;
    padding-top: 100px;
    padding-bottom: 30px;
}

.container-filmes h2{
    font-size: 1.8em;
}

.container-filmes p{
    font-size: 1.2em;
}

.container-filmes h2{
    margin-bottom: 20px;
}

.container-Animes{
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-top: solid #4e4e4e 1px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-Animes h2{
    font-size: 1.8em;
}

.container-Animes p{
    font-size: 1.2em;
}

.container_form h2{
    color: #f2f2f2;
    margin: 50px 0;
    font-size: 2em;
}

/* FORMULARIO */

.degrade-topo{
    width: 100%;
    background: linear-gradient(#0a060d 40%, rgba(255, 255, 255, 0));
    height: 100px;
    position: relative;
    bottom: 100px;
}

.fundoForm{
    width: 100%;
    background-image: url(../../assets/starwars.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 90px 0;
}

.inputs{
    text-align: center;
    padding: 20px 50px;
    border-radius: 0 50px 50px 0;
    max-width: 500px;
    margin: 0 auto;
}

.inputs h3{
    margin: 50px 0;
    color: #f2f2f2;
}

.label{
    color: #b6b6b6;
    font-size: 0.8em;
    font-weight: 600;
}

.input{
    width: 100%;
    background-color: #f2f2f2;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
}

.input:focus{
    box-shadow: none;
    border: none;
}

.botaoEnviar{
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-weight: bold;
    background: #be39fc;
    font-size: 1em;
    color: #f2f2f2;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.botaoEnviar:hover{
    background-color: #500075;
    -webkit-box-shadow:2px 1px 22px 0px rgba(62,66,66,0.7);
    -moz-box-shadow: 2px 1px 22px 0px rgba(62,66,66,0.7);
    box-shadow: 2px 1px 22px 0px #7400AA;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f2f2f2;
    padding: 20px 0;
    margin: 0 0px;
}

.copy-footer{
    font-size: 0.7em;
}

.footer img{
    width: 150px;
}

@media (max-width: 1400px){
    .infoTop p{
        font-size: 1.2em;
        text-align: center;
    }
}

@media(max-width: 1000px){
    .logoTop{
        width: 60%;
    }

    .infoTop{
        width: 80%;
        margin: 0 auto;
        margin-top: 70vh;
    }

    .infoTop p{
        font-size: 1em;
        text-align: center;
    }

    .footer{
        flex-direction: column;
        text-align: center;
    }

    .footer img{
        margin-bottom: 10px;
    }

    .container-planet,
    .container-filmes,
    .container-Animes{
        flex-direction: column;
    }

    .container-planet img,
    .container-Animes img{
        margin-bottom: 100px;
    }

    .container-filmes img{
        margin-top: 100px;
    } 

    .container-planet h2,
    .container-filmes h2,
    .container-Animes h2{
        font-size: 1.3em;
    }

    .planet-info{
        width: 80%;
        font-size: 0.8em;
    }
    
    
}