.Link{
    color: white;
}

.Rodape{
    background-image: url(../../assets/fundofooter.png);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Redessocias a img{
    width: 50px;

}

.Item1 li{
    list-style: none;
    color: white;  

}
.Item2 li{
    list-style: none;
    color: white;
}
.Item3 li{
    list-style: none;
    color: white;
}

.ItensRodape{
    display: flex;
}

.Final{
    color: white;
}