.Link{
    color: white;
}

.Rodape{
    background-image: url(../../assets/fundofooter.png);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Degradefooter{
    height: 200px;
    width: 100%;
    background: linear-gradient(#0a060d 30%, rgba(255, 255, 255, 0));
    
}

.Redessocias a img{
    width: 50px;

}

.Item1 li{
    list-style: none;
    color: white;  

}
.Item2 li{
    list-style: none;
    color: white;
}
.Item3 li{
    list-style: none;
    color: white;
}

.ItensRodape{
    display: flex;
}

.Final{
    color: white;
}