.Link{
    color: white;
}

.Rodape{
    color: white;
    text-align: center;
    
}

.container-footer{
    max-width: 1400px;
    padding: 0%;
    margin: auto;
    font-style: unset;
    
}
.row-footer{
    color: white;
   

}

.footer-col{
  
}

.footer-col li{
    list-style: none;
}
.footer-col h4{
    font-size: 22px;
    color: aliceblue;
 
  
}
.Rodape2{
    height: auto;
}

.footer{
    background-image: url(../../assets/fundofooter.png);
    height: 
}

.fim{
    
}