#sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

#info_sobre{
    width: 700px;
}

#info_sobre p{
    color: #f2f2f2;
    font-size: 1.1em;
    line-height: 35px;
}

.titulo_sobre{
    font-size: 2em;
    color: #f2f2f2;
    font-weight: bold;
    margin-bottom: 50px;
}

.imgSobre{
    max-width: 500px;
    width: 100%;
    margin-right: 100px;
}
 

.titulo_sobre span{
    color:    #be39fc ;
    font-size: 1em;
    margin-left: 5px;
}

#parallaxSobre{
    width: 100%;
    height: 500px;
    background-image: url(../../assets/equipeFundo.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#containerMissao{
    display: flex;
    justify-content: center;
}

.item{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(324.61deg,  #be39fc 4.67%, #1E0B36 95.96%);
    padding: 30px 20px;
    border-radius: 20px;
    margin: 0 30px;
    position: relative;
    bottom: 40px;
    transition: all ease 500ms;
}

.item img{
    position: relative;
    bottom: 60px;
}

.item p{
    color: #f2f2f2;
    font-weight: bold;
    margin-top: -30px;
    font-size: 0.7em;
}

.item:hover{
    transform: scale(1.1);
}

.row1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row1 div{
    margin: 50px 60px;
    text-align: center;
}

.row1 img{
    max-width: 150px;
    justify-content: center;
}

.titulo_equipe{
    font-size: 1.6em;
    color: #f2f2f2;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
}

.titulo_equipe span{
    color:  #be39fc;
    font-size: 1em;
    margin-left: 5px;
}

.row1 img{
    border-radius: 50%;
    transition: ease-in 300ms;
}

.row1 img:hover{
    box-shadow: 0px 0px 20px 1px #7400AA;
}

.linkLinkedin{
    background-color: #0A66C2;
    color: #f2f2f2;
    text-decoration: none;
    padding: 5px 10px;
    transition: ease-in 200ms;
}

.linkLinkedin:hover{
    background-color: #00478d;
    color: #b0b0b0;
}

.nomeEquipe{
    color:  #be39fc;
    font-size: 1.2em;
    margin-top: 30px;
}

.cargoEquipe{
    color: #f2f2f2;
    font-size: 1em;
}

/* REFERENCIAS  */

/* NETFLIX */
.tituloReferencias{
    color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    margin: 150px 0;
}

.tituloParallax{
    color: #f2f2f2;
    font-weight: bold;
    margin-left: 18%;
}

.parallax_netflix{
    width: 100%;
    height: 500px;
    background-image: url(../../assets/netflixFundo.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.gradient_topo{
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #0A060D ,rgba(0, 0, 0, 0));
    position: relative;
    top: 200px;
}

.gradient_bottom{
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #0A060D,rgba(0, 0, 0, 0));
    position: relative;
    bottom: 200px;
}

/* STARPLUS */

.parallax_star{
    width: 100%;
    height: 500px;
    background-image: url(../../assets/fundoStarplus.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media (max-width: 500px){

    #sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imgSobre{
        display: none;
    }

    #info_sobre{
        width: 350px;
        text-align: justify;
    }
    
    #info_sobre p{
        color: #f2f2f2;
        font-size: 1em;
        line-height: 35px;
    }
    
    .titulo_sobre{
        font-size: 1.4em;
        color: #f2f2f2;
        font-weight: bold;
        margin-bottom: 50px;
    }

    #containerMissao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item{
        margin-bottom: 60px;
    }

    .row1,
    .row2{
        flex-direction: column;
    }
}