::-webkit-scrollbar-track{
    background-color: rgb(36, 36, 36);
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 5px;
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
    background: #7400AA;
    border-radius: 15px;
}

::selection{
    background-color: #7400AA;
}