.btn-amarelo{
    border: none;
    background: #7400AA;
    color: #f2f2f2;
    padding: 15px 70px;
    font-size: 1.5em;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 200ms;
    z-index: 1;
}

.btn-amarelo:hover{
    background: #5c0087;  
}