.btn-planos2{
    font-size: 15px;
    border: #8921ba;
    color: white;
    background-color: #8921ba;
    margin-top: 25px;
    padding: 2px 30px 2px 30px;
    border-radius: 10px;
    text-align: center;  
}