.btn-roxo{
    border: none;
    background: #be39fc;
    color: #f2f2f2;
    padding: 15px 70px;
    font-size: 1.5em;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 200ms;
    z-index: 1;
}

.btn-roxo:hover{
    background: #5c0087;  
}

@media (max-width: 1400px) {
    .btn-roxo{
        font-size: 1em;
    }
}

@media (max-width: 500px) {
    .btn-roxo{
        font-size: 0.8em;
    }
}