*{
    margin: 0;
    padding: 0;
}

/*RodaPé*/

.rodape {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(../assets/fundofooter.png);
    background-size: cover;
    background-position: center;
}

.degrade-top{
    height: 200px;
    width: 100%;
    background: linear-gradient(#0a060d 30%, rgba(255, 255, 255, 0));
}

.logoBottom {
    width: 16%;
    margin-top: -50px;
}

.redes{
    margin-bottom: 50px;
    margin-top: -10px;
}

.redes a img{
    width: 50px;
    margin: 20px 10px;
}

.menuRodape{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    width: 90%;
    max-width: 1200px;
    padding: 50px 0;
    border-bottom: solid 1px #f2f2f2b6;
    border-top: solid 1px #f2f2f2b6;
}

.menu1 ul li,
.menu2 ul li,
.menu3 ul li{
    list-style: none;
    margin: 20px 50px;
}

.linkFooter{
    text-decoration: none;
    color: #f2f2f2;
}

.linkFooter:hover{
    color: #f2f2f2b3;
}

.copy {
    color: white;
}

@media(max-width:1200px) {
    .col {
        width: 800px;
    }

    .menu1 ul li,
    .menu2 ul li,
    .menu3 ul li{
        list-style: none;
        margin: 20px 30px;
    }
}

@media (max-width: 500px){
    .logoBottom{
        width: 50%;
    }

    .menuRodape{
        width: 90%;
        text-align: center;
    }
    
    .linkFooter{
        font-size: 0.7em;
    }

    .copy{
        font-size: 0.6em;
    }

    .menu1 ul li,
    .menu2 ul li,
    .menu3 ul li{
        list-style: none;
        margin-top: 10px;
        margin: 10px 10px;
}
}