*{
    font-size: 20px;
}

.LinhaDeFilmes{
    margin: 30px 0px;
}

.LinhaDeFilmes--title{
    margin: 0px 0px 0px 30px;
    color: #f2f2f2;
    font-size: 1.3em;
}

.LinhaDeFilmes--container{
    overflow-x: hidden;
    padding-left: 30px;
}

.LinhaDeFilmes--lista{
    transition: all ease 500ms;
}

.LinhaDeFilmes--item{
    display: inline-block;
    width: 150px;
}

.LinhaDeFilmes--item img{
    width: 100%;
    transform: scale(0.9);
    transition: ease-in 200ms;
    cursor: pointer;
    border-radius: 20px;
}

.LinhaDeFilmes--item img:hover{
    transform: scale(1);
}

.left,
.right{
    position: absolute;
    width: 40px;
    height: 225px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease-in 200ms;
}

.LinhaDeFilmes:hover .left, 
.LinhaDeFilmes:hover .right{
    opacity: 1;
}

.left{
    left: 0;
    color: #fff;
}

.right{
    right: 0;
    color: #fff;
}