* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.titulo {
    padding-bottom: 5px;
    text-align: center;
    color: #8921ba;
}

.planos {
    display: grid;
    grid-template-areas: 'planos-1 planos-2 planos-3';
    padding: 80px;
    flex-direction: row;
    justify-content: center;
    grid-gap: 50px;

    text-align: center;
}

.plano-1 {
    padding: 60px;
    border: 1px white solid;
}

.preencher {
    grid-template-areas: 
    'inputCartaoNumero' 
    'inputCartaoNome'
     'inputmmaa' 'inputCvv'
     ;
}

.inputCartaoNumero {
     background-color: black;
}
